@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #f3f3f3;
}

#root {
  display: flex;
  flex-direction: column;
}


/* Estilos para el scroll */
*::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb{
    background: #658E8E;
    border-radius: 10px;
}

/* Estilos para el input tipo "date" */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="date"].form-passenger-date::-webkit-calendar-picker-indicator {
  /*filter: none;*/
}

/* Animacion para el carrusel */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(calc(-260px * 5 - 0.5rem * 10 ))
  }
}

.animate-scroll {
  animation: scroll 13s linear infinite;
}

#carrusel {
  mask-image: linear-gradient(
    90deg,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}
